---
const { title } = Astro.props;
import "../styles/global.css";
const path = Astro.url.pathname;
---
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title} | Joe Peaden</title>
  </head>
  <body>
    <div>
    
      <header class="text-center pt-20 mb-10">
        <div>
          <a href="/" class="font-mono text-4xl">JOE PEADEN</a>
          <p class="font-mono text-xl mt-3">Software Engineer · Game Developer</p>
        </div>
      </header>

      <nav class="flex justify-center gap-10 font-mono mb-10">
        <a href="/" class={path == '/' ? 'font-bold' : ''}>Home</a>
        <p>|</p>
        <a href="/projects" class={path == '/projects' ? 'font-bold' : ''}>Projects</a>
        <p>|</p>
        <a href="/blog" class={path == '/blog' ? 'font-bold' : ''}>Blog</a>
        <p>|</p>
        <a href="/experience" class={path == '/experience' ? 'font-bold' : ''}>Experience</a>
        <p>|</p>
        <a href="/about" class={path == '/about' ? 'font-bold' : ''}>About</a>
        <p>|</p>
        <a href="/contact" class={path == '/contact' ? 'font-bold' : ''}>Contact</a>
      </nav>

      <main>
        <slot />
      </main>

      <footer>
      </footer>

    </div>
  </body>
</html>